<div class="row">
  <div class="col">
    <table class="table table-hover animate__animated animate__fadeInUp">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Dirección</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios; let i = index" >
          <td>{{ i + 1 }}</td>
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellido }}</td>
          <td>{{ usuario.email }}</td>
          <td>{{ usuario.direccion }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

