<form (ngSubmit)="buscar()"  autocomplete="off">
  <label> Ingrese el nombre o parte de este, del usuario que desea buscar</label>
  <input type="text"
    name="termino"
    class="form-control"
    [(ngModel)] = "termino"
    (input) = "teclaPresionada()"
    placeholder = "nombre de usuario"/>
</form>
