<h1>Busqueda de usuarios</h1>
<hr>

<div class="row">
  <div class="col">
    <app-user-search (onEnter)="buscar()"
                     (onDebounce)="sugerencias( $event )">
    </app-user-search>
  </div>
</div>

<ul *ngIf="mostrarSugeridos"  class="list-group">
  <li *ngFor="let user of usuariosSugeridos"
    class="list-group-item list-group-item-action"
    (click)="buscar( user )" >
    {{ user.fullNombre }}
  </li>
</ul>

<hr>

<div *ngIf="error"  class="alert alert-danger">
  No se encontró usuario con el termino {{ termino }}
</div>

<div class="row">
  <div class="col">
    <app-users-table [usuariosTable] = "usuarios"></app-users-table>
  </div>
</div>

